# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
OverhearApp/Overhear.xcodeproj/project.xcworkspace/xcuserdata/

# SwiftPM
.swiftpm/
.build/

# macOS
*.swp
*.swo
*~
