name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Xcode build
      working-directory: OverhearApp
      run: |
        xcodebuild -scheme Overhear -configuration Debug \
          CODE_SIGNING_ALLOWED=NO CODE_SIGN_IDENTITY="" DEVELOPMENT_TEAM="" \
          CODE_SIGN_STYLE=Automatic
