name: Test
on:
  workflow_dispatch:
  pull_request:
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: xcodebuild build -project OverhearApp/Overhear.xcodeproj -scheme Overhear -destination 'platform=macOS'
